<div class="page-header">
  <h3>Ranking #<%= @ranking.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Player</dt>
      <dd><%= @ranking.player_id %></dd>

      <dt>Source</dt>
      <dd><%= @ranking.source %></dd>

      <dt>Overall rank</dt>
      <dd><%= @ranking.overall_rank %></dd>

      <dt>Position rank</dt>
      <dd><%= @ranking.position_rank %></dd>

      <dt>Dollar value</dt>
      <dd><%= @ranking.dollar_value %></dd>

      <dt>Rank best</dt>
      <dd><%= @ranking.rank_best %></dd>

      <dt>Rank worst</dt>
      <dd><%= @ranking.rank_worst %></dd>

      <dt>Rank average</dt>
      <dd><%= @ranking.rank_average %></dd>

      <dt>Rank std dev</dt>
      <dd><%= @ranking.rank_std_dev %></dd>

      <dt>Avg draft position</dt>
      <dd><%= @ranking.avg_draft_position %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/rankings" class="btn btn-primary">
        Back
      </a>
      <a href="/rankings/<%= @ranking.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_ranking/<%= @ranking.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
