<div class="page-header">
  <h3>Position #<%= @position.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Title</dt>
      <dd><%= @position.title %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/positions" class="btn btn-primary">
        Back
      </a>
      <a href="/positions/<%= @position.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_position/<%= @position.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Position has many eligibilities -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Eligibilities
      </li>

      <% @position.eligibilities.each do |eligibility| %>
        <li class="list-group-item">
          <a href="/eligibilities/<%= eligibility.id %>">
            <%= eligibility.player_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/eligibilities/<%= eligibility.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/eligibilities/<%= eligibility.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_eligibility/<%= eligibility.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_eligibility" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for player_id -->
      <div class="form-group">
        <label for="player_id" class="control-label">
          Player
        </label>

        <%= select_tag(:player_id, options_from_collection_for_select(Player.all, :id, :name), :class => "form-control") %>
      </div>

      <!-- Label and input for position_id -->
      <input type="hidden" name="position_id" value="<%= @position.id %>">

      <button class="btn btn-block btn-success">
        Create Eligibility
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>

<!-- A Position has many players -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Players
      </li>

      <% @position.players.each do |player| %>
        <li class="list-group-item">
          <a href="/players/<%= player.id %>">
            <%= player.name %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/players/<%= player.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/players/<%= player.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_player/<%= player.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
