<div class="page-header">
  <h3>Comment #<%= @comment.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Player</dt>
      <dd>
        <% if @comment.player.present? %>
          <a href="/players/<%= @comment.player_id %>">
            <%= @comment.player.name %>
          </a>
        <% end %>
      </dd>

      <dt>Comment</dt>
      <dd><%= @comment.comment %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/comments" class="btn btn-primary">
        Back
      </a>
      <a href="/comments/<%= @comment.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_comment/<%= @comment.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
