<div class="page-header">
  <h3>Tag #<%= @tag.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Tag</dt>
      <dd><%= @tag.tag %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/tags" class="btn btn-primary">
        Back
      </a>
      <a href="/tags/<%= @tag.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_tag/<%= @tag.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Tag has many taggings -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Taggings
      </li>

      <% @tag.taggings.each do |tagging| %>
        <li class="list-group-item">
          <a href="/taggings/<%= tagging.id %>">
            <%= tagging.player_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/taggings/<%= tagging.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/taggings/<%= tagging.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_tagging/<%= tagging.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_tagging" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for player_id -->
      <div class="form-group">
        <label for="player_id" class="control-label">
          Player
        </label>

        <%= select_tag(:player_id, options_from_collection_for_select(Player.all, :id, :name), :class => "form-control") %>
      </div>

      <!-- Label and input for tag_id -->
      <input type="hidden" name="tag_id" value="<%= @tag.id %>">

      <button class="btn btn-block btn-success">
        Create Tagging
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>

<!-- A Tag has many players -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Players
      </li>

      <% @tag.players.each do |player| %>
        <li class="list-group-item">
          <a href="/players/<%= player.id %>">
            <%= player.name %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/players/<%= player.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/players/<%= player.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_player/<%= player.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
