<div class="page-header">
  <h1>
    Historicals
    <a href="/historicals/new" class="btn btn-lg btn-success">New Historical</a>
  </h1>
</div><div class="row mb-1">
  <div class="col-md-12">
    <%= search_form_for @q, :class => collapse_search_form, :id => "historicals_filters" do |f| %>
      <p class="lead">Narrow results:</p>

        <div class="form-group">
  <%= f.label :on_base_plus_slugging, "On base plus slugging" %>
  <div class="row">
    <div class='col-md-6 mb-1'>
      <%= f.text_field :on_base_plus_slugging_gteq, :class => "form-control", :placeholder => "On base plus slugging greater than or equal to" %>
    </div>
    <div class='col-md-6'>
      <%= f.text_field :on_base_plus_slugging_lteq, :class => "form-control", :placeholder => "On base plus slugging less than or equal to" %>
    </div>
  </div>
</div>

<div class="form-group">
  <%= f.label :slugging_percentage, "Slugging percentage" %>
  <div class="row">
    <div class='col-md-6 mb-1'>
      <%= f.text_field :slugging_percentage_gteq, :class => "form-control", :placeholder => "Slugging percentage greater than or equal to" %>
    </div>
    <div class='col-md-6'>
      <%= f.text_field :slugging_percentage_lteq, :class => "form-control", :placeholder => "Slugging percentage less than or equal to" %>
    </div>
  </div>
</div>

<div class="form-group">
  <%= f.label :on_base_percentage, "On base percentage" %>
  <div class="row">
    <div class='col-md-6 mb-1'>
      <%= f.text_field :on_base_percentage_gteq, :class => "form-control", :placeholder => "On base percentage greater than or equal to" %>
    </div>
    <div class='col-md-6'>
      <%= f.text_field :on_base_percentage_lteq, :class => "form-control", :placeholder => "On base percentage less than or equal to" %>
    </div>
  </div>
</div>

<div class="form-group">
  <%= f.label :hits, "Hits" %>
  <div class="row">
    <div class='col-md-6 mb-1'>
      <%= f.text_field :hits_gteq, :class => "form-control", :placeholder => "Hits greater than or equal to" %>
    </div>
    <div class='col-md-6'>
      <%= f.text_field :hits_lteq, :class => "form-control", :placeholder => "Hits less than or equal to" %>
    </div>
  </div>
</div>

<div class="form-group">
  <%= f.label :strikeouts, "Strikeouts" %>
  <div class="row">
    <div class='col-md-6 mb-1'>
      <%= f.text_field :strikeouts_gteq, :class => "form-control", :placeholder => "Strikeouts greater than or equal to" %>
    </div>
    <div class='col-md-6'>
      <%= f.text_field :strikeouts_lteq, :class => "form-control", :placeholder => "Strikeouts less than or equal to" %>
    </div>
  </div>
</div>

<div class="form-group">
  <%= f.label :whip, "Whip" %>
  <div class="row">
    <div class='col-md-6 mb-1'>
      <%= f.text_field :whip_gteq, :class => "form-control", :placeholder => "Whip greater than or equal to" %>
    </div>
    <div class='col-md-6'>
      <%= f.text_field :whip_lteq, :class => "form-control", :placeholder => "Whip less than or equal to" %>
    </div>
  </div>
</div>

<div class="form-group">
  <%= f.label :era, "Era" %>
  <div class="row">
    <div class='col-md-6 mb-1'>
      <%= f.text_field :era_gteq, :class => "form-control", :placeholder => "Era greater than or equal to" %>
    </div>
    <div class='col-md-6'>
      <%= f.text_field :era_lteq, :class => "form-control", :placeholder => "Era less than or equal to" %>
    </div>
  </div>
</div>

<div class="form-group">
  <%= f.label :saves, "Saves" %>
  <div class="row">
    <div class='col-md-6 mb-1'>
      <%= f.text_field :saves_gteq, :class => "form-control", :placeholder => "Saves greater than or equal to" %>
    </div>
    <div class='col-md-6'>
      <%= f.text_field :saves_lteq, :class => "form-control", :placeholder => "Saves less than or equal to" %>
    </div>
  </div>
</div>

<div class="form-group">
  <%= f.label :wins, "Wins" %>
  <div class="row">
    <div class='col-md-6 mb-1'>
      <%= f.text_field :wins_gteq, :class => "form-control", :placeholder => "Wins greater than or equal to" %>
    </div>
    <div class='col-md-6'>
      <%= f.text_field :wins_lteq, :class => "form-control", :placeholder => "Wins less than or equal to" %>
    </div>
  </div>
</div>

<div class="form-group">
  <%= f.label :innings_pitched, "Innings pitched" %>
  <div class="row">
    <div class='col-md-6 mb-1'>
      <%= f.text_field :innings_pitched_gteq, :class => "form-control", :placeholder => "Innings pitched greater than or equal to" %>
    </div>
    <div class='col-md-6'>
      <%= f.text_field :innings_pitched_lteq, :class => "form-control", :placeholder => "Innings pitched less than or equal to" %>
    </div>
  </div>
</div>

<div class="form-group">
  <%= f.label :avg, "Avg" %>
  <div class="row">
    <div class='col-md-6 mb-1'>
      <%= f.text_field :avg_gteq, :class => "form-control", :placeholder => "Avg greater than or equal to" %>
    </div>
    <div class='col-md-6'>
      <%= f.text_field :avg_lteq, :class => "form-control", :placeholder => "Avg less than or equal to" %>
    </div>
  </div>
</div>

<div class="form-group">
  <%= f.label :runs, "Runs" %>
  <div class="row">
    <div class='col-md-6 mb-1'>
      <%= f.text_field :runs_gteq, :class => "form-control", :placeholder => "Runs greater than or equal to" %>
    </div>
    <div class='col-md-6'>
      <%= f.text_field :runs_lteq, :class => "form-control", :placeholder => "Runs less than or equal to" %>
    </div>
  </div>
</div>

<div class="form-group">
  <%= f.label :stolen_bases, "Stolen bases" %>
  <div class="row">
    <div class='col-md-6 mb-1'>
      <%= f.text_field :stolen_bases_gteq, :class => "form-control", :placeholder => "Stolen bases greater than or equal to" %>
    </div>
    <div class='col-md-6'>
      <%= f.text_field :stolen_bases_lteq, :class => "form-control", :placeholder => "Stolen bases less than or equal to" %>
    </div>
  </div>
</div>

<div class="form-group">
  <%= f.label :runs_batted_in, "Runs batted in" %>
  <div class="row">
    <div class='col-md-6 mb-1'>
      <%= f.text_field :runs_batted_in_gteq, :class => "form-control", :placeholder => "Runs batted in greater than or equal to" %>
    </div>
    <div class='col-md-6'>
      <%= f.text_field :runs_batted_in_lteq, :class => "form-control", :placeholder => "Runs batted in less than or equal to" %>
    </div>
  </div>
</div>

<div class="form-group">
  <%= f.label :home_runs, "Home runs" %>
  <div class="row">
    <div class='col-md-6 mb-1'>
      <%= f.text_field :home_runs_gteq, :class => "form-control", :placeholder => "Home runs greater than or equal to" %>
    </div>
    <div class='col-md-6'>
      <%= f.text_field :home_runs_lteq, :class => "form-control", :placeholder => "Home runs less than or equal to" %>
    </div>
  </div>
</div>

<div class="form-group">
  <%= f.label :at_bats, "At bats" %>
  <div class="row">
    <div class='col-md-6 mb-1'>
      <%= f.text_field :at_bats_gteq, :class => "form-control", :placeholder => "At bats greater than or equal to" %>
    </div>
    <div class='col-md-6'>
      <%= f.text_field :at_bats_lteq, :class => "form-control", :placeholder => "At bats less than or equal to" %>
    </div>
  </div>
</div>

<div class="form-group">
  <%= f.label :year, "Year" %>
  <div class="row">
    <div class='col-md-6 mb-1'>
      <%= f.text_field :year_gteq, :class => "form-control", :placeholder => "Year greater than or equal to" %>
    </div>
    <div class='col-md-6'>
      <%= f.text_field :year_lteq, :class => "form-control", :placeholder => "Year less than or equal to" %>
    </div>
  </div>
</div>

<div class="form-group">
    <%= f.label :source_cont, "Source contains" %>
    <%= f.text_field :source_cont, :class => "form-control", :placeholder => "Source contains" %>
  </div>

<div class="form-group">
          <%= f.label :created_at, "Created at" %>
          <div class="row">
            <div class='col-md-6 mb-1'>
              <div class='input-group date' id='created_atgteqPicker'>
                  <%= f.text_field :created_at_gteq, :class => "form-control", :placeholder => "Created at greater than or equal to" %>
                  <span class="input-group-addon">
                      <span class="glyphicon glyphicon-calendar"></span>
                  </span>
              </div>
            </div>

            <div class='col-md-6'>
              <div class='input-group date' id='created_atlteqPicker'>
                  <%= f.text_field :created_at_lteq, :class => "form-control", :placeholder => "Created at less than or equal to" %>
                  <span class="input-group-addon">
                      <span class="glyphicon glyphicon-calendar"></span>
                  </span>
              </div>
            </div>
          </div>
      </div>
      <script type="text/javascript">
          $(function () {
              $('#created_atgteqPicker').datetimepicker({
                  format: 'YYYY-MM-DD hh:mm:SS'
              });
              $('#created_atlteqPicker').datetimepicker({
                  useCurrent: false,
                  format: 'YYYY-MM-DD hh:mm:SS'
              });
              $('#created_atgteqPicker').on("dp.change", function (e) {
                  $('#created_atlteqPicker').data("DateTimePicker").minDate(e.date);
              });
              $('#created_atlteqPicker').on("dp.change", function (e) {
                  $('#created_atgteqPicker').data("DateTimePicker").maxDate(e.date);
              });
          });
      </script>

        <div class="form-group">
      <%= f.label :player_name_cont, "Player name contains" %>
      <%= f.text_field :player_name_cont, :class => "form-control", :placeholder => "Player name contains" %>
    </div>

      <%= f.submit :class => "btn btn-primary btn-block mb-1" %>

      <a href="/historicals" class="btn btn-default btn-block mb-1">Clear filters</a>
    <% end %>
    <a class="btn btn-default btn-block mb-1" data-toggle="collapse" href="#historicals_filters">
      Show Filters
    </a>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>Player</th>
        <th>Source</th>
        <th>Year</th>
        <th>At bats</th>
        <th>Home runs</th>
        <th>Runs batted in</th>
        <th>Stolen bases</th>
        <th>Runs</th>
        <th>Avg</th>
        <th>Innings pitched</th>
        <th>Wins</th>
        <th>Saves</th>
        <th>Era</th>
        <th>Whip</th>
        <th>Strikeouts</th>
        <th>Hits</th>
        <th>On base percentage</th>
        <th>Slugging percentage</th>
        <th>On base plus slugging</th>
        <th>Actions</th>
      </tr>

      <% @historicals.each do |historical| %>
      <tr>
        <td>
          <% if historical.player.present? %>
            <a href="/players/<%= historical.player.id %>">
              <%= historical.player.name %>
            </a>
          <% end %>
        </td>
        <td><%= historical.source %></td>
        <td><%= historical.year %></td>
        <td><%= historical.at_bats %></td>
        <td><%= historical.home_runs %></td>
        <td><%= historical.runs_batted_in %></td>
        <td><%= historical.stolen_bases %></td>
        <td><%= historical.runs %></td>
        <td><%= historical.avg %></td>
        <td><%= historical.innings_pitched %></td>
        <td><%= historical.wins %></td>
        <td><%= historical.saves %></td>
        <td><%= historical.era %></td>
        <td><%= historical.whip %></td>
        <td><%= historical.strikeouts %></td>
        <td><%= historical.hits %></td>
        <td><%= historical.on_base_percentage %></td>
        <td><%= historical.slugging_percentage %></td>
        <td><%= historical.on_base_plus_slugging %></td>
        <td>
          <a href="/historicals/<%= historical.id %>" class="btn btn-primary">Show</a>
          <a href="/historicals/<%= historical.id %>/edit" class="btn btn-warning">Edit</a>
          <a href="/delete_historical/<%= historical.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
        </td>
      </tr>
      <% end %>
    </table>
    <%= paginate @historicals, theme: 'twitter-bootstrap-4' %>
  </div>
</div>
