<!-- Validation failure messages -->
<% if @historical.errors.any? %>
  <% @historical.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Add Historical</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/create_historical" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for player_id -->
      <div class="form-group">
        <label for="player_id" class="control-label">
          Player
        </label>

        <%= select_tag(:player_id, options_from_collection_for_select(Player.all, :id, :name, @historical.player_id), :class => "form-control") %>
      </div>

      <!-- Label and input for source -->
      <div class="form-group">
        <label for="source" class="control-label">
          Source
        </label>

        <input type="text" id="source" name="source" placeholder="Source" class="form-control" value="<%= @historical.source %>">
      </div>

      <!-- Label and input for year -->
      <div class="form-group">
        <label for="year" class="control-label">
          Year
        </label>

        <input type="text" id="year" name="year" placeholder="Year" class="form-control" value="<%= @historical.year %>">
      </div>

      <!-- Label and input for at_bats -->
      <div class="form-group">
        <label for="at_bats" class="control-label">
          At bats
        </label>

        <input type="text" id="at_bats" name="at_bats" placeholder="At bats" class="form-control" value="<%= @historical.at_bats %>">
      </div>

      <!-- Label and input for home_runs -->
      <div class="form-group">
        <label for="home_runs" class="control-label">
          Home runs
        </label>

        <input type="text" id="home_runs" name="home_runs" placeholder="Home runs" class="form-control" value="<%= @historical.home_runs %>">
      </div>

      <!-- Label and input for runs_batted_in -->
      <div class="form-group">
        <label for="runs_batted_in" class="control-label">
          Runs batted in
        </label>

        <input type="text" id="runs_batted_in" name="runs_batted_in" placeholder="Runs batted in" class="form-control" value="<%= @historical.runs_batted_in %>">
      </div>

      <!-- Label and input for stolen_bases -->
      <div class="form-group">
        <label for="stolen_bases" class="control-label">
          Stolen bases
        </label>

        <input type="text" id="stolen_bases" name="stolen_bases" placeholder="Stolen bases" class="form-control" value="<%= @historical.stolen_bases %>">
      </div>

      <!-- Label and input for runs -->
      <div class="form-group">
        <label for="runs" class="control-label">
          Runs
        </label>

        <input type="text" id="runs" name="runs" placeholder="Runs" class="form-control" value="<%= @historical.runs %>">
      </div>

      <!-- Label and input for avg -->
      <div class="form-group">
        <label for="avg" class="control-label">
          Avg
        </label>

        <input type="text" id="avg" name="avg" placeholder="Avg" class="form-control" value="<%= @historical.avg %>">
      </div>

      <!-- Label and input for innings_pitched -->
      <div class="form-group">
        <label for="innings_pitched" class="control-label">
          Innings pitched
        </label>

        <input type="text" id="innings_pitched" name="innings_pitched" placeholder="Innings pitched" class="form-control" value="<%= @historical.innings_pitched %>">
      </div>

      <!-- Label and input for wins -->
      <div class="form-group">
        <label for="wins" class="control-label">
          Wins
        </label>

        <input type="text" id="wins" name="wins" placeholder="Wins" class="form-control" value="<%= @historical.wins %>">
      </div>

      <!-- Label and input for saves -->
      <div class="form-group">
        <label for="saves" class="control-label">
          Saves
        </label>

        <input type="text" id="saves" name="saves" placeholder="Saves" class="form-control" value="<%= @historical.saves %>">
      </div>

      <!-- Label and input for era -->
      <div class="form-group">
        <label for="era" class="control-label">
          Era
        </label>

        <input type="text" id="era" name="era" placeholder="Era" class="form-control" value="<%= @historical.era %>">
      </div>

      <!-- Label and input for whip -->
      <div class="form-group">
        <label for="whip" class="control-label">
          Whip
        </label>

        <input type="text" id="whip" name="whip" placeholder="Whip" class="form-control" value="<%= @historical.whip %>">
      </div>

      <!-- Label and input for strikeouts -->
      <div class="form-group">
        <label for="strikeouts" class="control-label">
          Strikeouts
        </label>

        <input type="text" id="strikeouts" name="strikeouts" placeholder="Strikeouts" class="form-control" value="<%= @historical.strikeouts %>">
      </div>

      <!-- Label and input for hits -->
      <div class="form-group">
        <label for="hits" class="control-label">
          Hits
        </label>

        <input type="text" id="hits" name="hits" placeholder="Hits" class="form-control" value="<%= @historical.hits %>">
      </div>

      <!-- Label and input for on_base_percentage -->
      <div class="form-group">
        <label for="on_base_percentage" class="control-label">
          On base percentage
        </label>

        <input type="text" id="on_base_percentage" name="on_base_percentage" placeholder="On base percentage" class="form-control" value="<%= @historical.on_base_percentage %>">
      </div>

      <!-- Label and input for slugging_percentage -->
      <div class="form-group">
        <label for="slugging_percentage" class="control-label">
          Slugging percentage
        </label>

        <input type="text" id="slugging_percentage" name="slugging_percentage" placeholder="Slugging percentage" class="form-control" value="<%= @historical.slugging_percentage %>">
      </div>

      <!-- Label and input for on_base_plus_slugging -->
      <div class="form-group">
        <label for="on_base_plus_slugging" class="control-label">
          On base plus slugging
        </label>

        <input type="text" id="on_base_plus_slugging" name="on_base_plus_slugging" placeholder="On base plus slugging" class="form-control" value="<%= @historical.on_base_plus_slugging %>">
      </div>

      <button class="btn btn-success">
        Create Historical
      </button>
      or
      <a href="/historicals">Cancel</a>
    </form>
  </div>
</div>
