<!-- Validation failure messages -->
<% if @player.errors.any? %>
  <% @player.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Add Player</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/create_player" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for name -->
      <div class="form-group">
        <label for="name" class="control-label">
          Name
        </label>

        <input type="text" id="name" name="name" placeholder="Name" class="form-control" value="<%= @player.name %>">
      </div>

      <!-- Label and input for team_id -->
      <div class="form-group">
        <label for="team_id" class="control-label">
          Team
        </label>

        <%= select_tag(:team_id, options_from_collection_for_select(Team.all, :id, :name, @player.team_id), :class => "form-control") %>
      </div>

      <!-- Label and input for owner_id -->
      <input type="hidden" name="owner_id" value="<%= current_user.id %>">

      <!-- Label and input for injury_status -->
      <div class="form-group">
        <label for="injury_status" class="control-label">
          Injury status
        </label>

        <input type="text" id="injury_status" name="injury_status" placeholder="Injury status" class="form-control" value="<%= @player.injury_status %>">
      </div>

      <button class="btn btn-success">
        Create Player
      </button>
      or
      <a href="/players">Cancel</a>
    </form>
  </div>
</div>
