<!-- Validation failure messages -->
<% if @eligibility.errors.any? %>
  <% @eligibility.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Edit Eligibility #<%= @eligibility.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/update_eligibility/<%= @eligibility.id %>" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for player_id -->
      <div class="form-group">
        <label for="player_id" class="control-label">
          Player
        </label>

        <input type="text" id="player_id" name="player_id" placeholder="Player" class="form-control" value="<%= @eligibility.player_id %>">
      </div>

      <!-- Label and input for position_id -->
      <div class="form-group">
        <label for="position_id" class="control-label">
          Position
        </label>

        <input type="text" id="position_id" name="position_id" placeholder="Position" class="form-control" value="<%= @eligibility.position_id %>">
      </div>

      <button class="btn btn-warning">
        Update Eligibility
      </button>
      or
      <a href="/eligibilities/<%= @eligibility.id %>">Cancel</a>
    </form>
  </div>
</div>
