<div class="page-header">
  <h1>
    Eligibilities
    <a href="/eligibilities/new" class="btn btn-lg btn-success">New Eligibility</a>
  </h1>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>Player</th>
        <th>Position</th>
        <th>Actions</th>
      </tr>

      <% @eligibilities.each do |eligibility| %>
      <tr>
        <td><%= eligibility.player.name %></td>
        <td><%= eligibility.position.title %></td>
        <td>
          <a href="/eligibilities/<%= eligibility.id %>" class="btn btn-primary">Show</a>
          <a href="/eligibilities/<%= eligibility.id %>/edit" class="btn btn-warning">Edit</a>
          <a href="/delete_eligibility/<%= eligibility.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
        </td>
      </tr>
      <% end %>
    </table>
    <%= paginate @eligibilities, theme: 'twitter-bootstrap-4' %>
  </div>
</div>
