<div class="page-header">
  <h3>Eligibility #<%= @eligibility.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Player</dt>
      <dd>
        <% if @eligibility.player.present? %>
          <a href="/players/<%= @eligibility.player_id %>">
            <%= @eligibility.player.name %>
          </a>
        <% end %>
      </dd>

      <dt>Position</dt>
      <dd>
        <% if @eligibility.position.present? %>
          <a href="/positions/<%= @eligibility.position_id %>">
            <%= @eligibility.position.title %>
          </a>
        <% end %>
      </dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/eligibilities" class="btn btn-primary">
        Back
      </a>
      <a href="/eligibilities/<%= @eligibility.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_eligibility/<%= @eligibility.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
