<div class="page-header">
  <h1>
    Projections
    <a href="/projections/new" class="btn btn-lg btn-success">New Projection</a>
  </h1>
</div><div class="row mb-1">
  <div class="col-md-12">
    <%= search_form_for @q, :class => collapse_search_form, :id => "projections_filters" do |f| %>
      <p class="lead">Narrow results:</p>

        <div class="form-group">
  <%= f.label :strikeouts, "Strikeouts" %>
  <div class="row">
    <div class='col-md-6 mb-1'>
      <%= f.text_field :strikeouts_gteq, :class => "form-control", :placeholder => "Strikeouts greater than or equal to" %>
    </div>
    <div class='col-md-6'>
      <%= f.text_field :strikeouts_lteq, :class => "form-control", :placeholder => "Strikeouts less than or equal to" %>
    </div>
  </div>
</div>

<div class="form-group">
  <%= f.label :whip, "Whip" %>
  <div class="row">
    <div class='col-md-6 mb-1'>
      <%= f.text_field :whip_gteq, :class => "form-control", :placeholder => "Whip greater than or equal to" %>
    </div>
    <div class='col-md-6'>
      <%= f.text_field :whip_lteq, :class => "form-control", :placeholder => "Whip less than or equal to" %>
    </div>
  </div>
</div>

<div class="form-group">
  <%= f.label :era, "Era" %>
  <div class="row">
    <div class='col-md-6 mb-1'>
      <%= f.text_field :era_gteq, :class => "form-control", :placeholder => "Era greater than or equal to" %>
    </div>
    <div class='col-md-6'>
      <%= f.text_field :era_lteq, :class => "form-control", :placeholder => "Era less than or equal to" %>
    </div>
  </div>
</div>

<div class="form-group">
  <%= f.label :saves, "Saves" %>
  <div class="row">
    <div class='col-md-6 mb-1'>
      <%= f.text_field :saves_gteq, :class => "form-control", :placeholder => "Saves greater than or equal to" %>
    </div>
    <div class='col-md-6'>
      <%= f.text_field :saves_lteq, :class => "form-control", :placeholder => "Saves less than or equal to" %>
    </div>
  </div>
</div>

<div class="form-group">
  <%= f.label :wins, "Wins" %>
  <div class="row">
    <div class='col-md-6 mb-1'>
      <%= f.text_field :wins_gteq, :class => "form-control", :placeholder => "Wins greater than or equal to" %>
    </div>
    <div class='col-md-6'>
      <%= f.text_field :wins_lteq, :class => "form-control", :placeholder => "Wins less than or equal to" %>
    </div>
  </div>
</div>

<div class="form-group">
  <%= f.label :innings_pitched, "Innings pitched" %>
  <div class="row">
    <div class='col-md-6 mb-1'>
      <%= f.text_field :innings_pitched_gteq, :class => "form-control", :placeholder => "Innings pitched greater than or equal to" %>
    </div>
    <div class='col-md-6'>
      <%= f.text_field :innings_pitched_lteq, :class => "form-control", :placeholder => "Innings pitched less than or equal to" %>
    </div>
  </div>
</div>

<div class="form-group">
  <%= f.label :avg, "Avg" %>
  <div class="row">
    <div class='col-md-6 mb-1'>
      <%= f.text_field :avg_gteq, :class => "form-control", :placeholder => "Avg greater than or equal to" %>
    </div>
    <div class='col-md-6'>
      <%= f.text_field :avg_lteq, :class => "form-control", :placeholder => "Avg less than or equal to" %>
    </div>
  </div>
</div>

<div class="form-group">
  <%= f.label :runs, "Runs" %>
  <div class="row">
    <div class='col-md-6 mb-1'>
      <%= f.text_field :runs_gteq, :class => "form-control", :placeholder => "Runs greater than or equal to" %>
    </div>
    <div class='col-md-6'>
      <%= f.text_field :runs_lteq, :class => "form-control", :placeholder => "Runs less than or equal to" %>
    </div>
  </div>
</div>

<div class="form-group">
  <%= f.label :sb, "Sb" %>
  <div class="row">
    <div class='col-md-6 mb-1'>
      <%= f.text_field :sb_gteq, :class => "form-control", :placeholder => "Sb greater than or equal to" %>
    </div>
    <div class='col-md-6'>
      <%= f.text_field :sb_lteq, :class => "form-control", :placeholder => "Sb less than or equal to" %>
    </div>
  </div>
</div>

<div class="form-group">
  <%= f.label :rbi, "Rbi" %>
  <div class="row">
    <div class='col-md-6 mb-1'>
      <%= f.text_field :rbi_gteq, :class => "form-control", :placeholder => "Rbi greater than or equal to" %>
    </div>
    <div class='col-md-6'>
      <%= f.text_field :rbi_lteq, :class => "form-control", :placeholder => "Rbi less than or equal to" %>
    </div>
  </div>
</div>

<div class="form-group">
  <%= f.label :hr, "Hr" %>
  <div class="row">
    <div class='col-md-6 mb-1'>
      <%= f.text_field :hr_gteq, :class => "form-control", :placeholder => "Hr greater than or equal to" %>
    </div>
    <div class='col-md-6'>
      <%= f.text_field :hr_lteq, :class => "form-control", :placeholder => "Hr less than or equal to" %>
    </div>
  </div>
</div>

<div class="form-group">
  <%= f.label :ab, "Ab" %>
  <div class="row">
    <div class='col-md-6 mb-1'>
      <%= f.text_field :ab_gteq, :class => "form-control", :placeholder => "Ab greater than or equal to" %>
    </div>
    <div class='col-md-6'>
      <%= f.text_field :ab_lteq, :class => "form-control", :placeholder => "Ab less than or equal to" %>
    </div>
  </div>
</div>

<div class="form-group">
  <%= f.label :year, "Year" %>
  <div class="row">
    <div class='col-md-6 mb-1'>
      <%= f.text_field :year_gteq, :class => "form-control", :placeholder => "Year greater than or equal to" %>
    </div>
    <div class='col-md-6'>
      <%= f.text_field :year_lteq, :class => "form-control", :placeholder => "Year less than or equal to" %>
    </div>
  </div>
</div>

<div class="form-group">
    <%= f.label :source_cont, "Source contains" %>
    <%= f.text_field :source_cont, :class => "form-control", :placeholder => "Source contains" %>
  </div>

<div class="form-group">
          <%= f.label :created_at, "Created at" %>
          <div class="row">
            <div class='col-md-6 mb-1'>
              <div class='input-group date' id='created_atgteqPicker'>
                  <%= f.text_field :created_at_gteq, :class => "form-control", :placeholder => "Created at greater than or equal to" %>
                  <span class="input-group-addon">
                      <span class="glyphicon glyphicon-calendar"></span>
                  </span>
              </div>
            </div>

            <div class='col-md-6'>
              <div class='input-group date' id='created_atlteqPicker'>
                  <%= f.text_field :created_at_lteq, :class => "form-control", :placeholder => "Created at less than or equal to" %>
                  <span class="input-group-addon">
                      <span class="glyphicon glyphicon-calendar"></span>
                  </span>
              </div>
            </div>
          </div>
      </div>
      <script type="text/javascript">
          $(function () {
              $('#created_atgteqPicker').datetimepicker({
                  format: 'YYYY-MM-DD hh:mm:SS'
              });
              $('#created_atlteqPicker').datetimepicker({
                  useCurrent: false,
                  format: 'YYYY-MM-DD hh:mm:SS'
              });
              $('#created_atgteqPicker').on("dp.change", function (e) {
                  $('#created_atlteqPicker').data("DateTimePicker").minDate(e.date);
              });
              $('#created_atlteqPicker').on("dp.change", function (e) {
                  $('#created_atgteqPicker').data("DateTimePicker").maxDate(e.date);
              });
          });
      </script>

        <div class="form-group">
      <%= f.label :player_name_cont, "Player name contains" %>
      <%= f.text_field :player_name_cont, :class => "form-control", :placeholder => "Player name contains" %>
    </div>

      <%= f.submit :class => "btn btn-primary btn-block mb-1" %>

      <a href="/projections" class="btn btn-default btn-block mb-1">Clear filters</a>
    <% end %>
    <a class="btn btn-default btn-block mb-1" data-toggle="collapse" href="#projections_filters">
      Show Filters
    </a>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>Player</th>
        <th>Source</th>
        <th>Year</th>
        <th>Ab</th>
        <th>Hr</th>
        <th>Rbi</th>
        <th>Sb</th>
        <th>Runs</th>
        <th>Avg</th>
        <th>Innings pitched</th>
        <th>Wins</th>
        <th>Saves</th>
        <th>Era</th>
        <th>Whip</th>
        <th>Strikeouts</th>
        <th>Actions</th>
      </tr>

      <% @projections.each do |projection| %>
      <tr>
        <td>
          <% if projection.player.present? %>
            <a href="/players/<%= projection.player.id %>">
              <%= projection.player.name %>
            </a>
          <% end %>
        </td>
        <td><%= projection.source %></td>
        <td><%= projection.year %></td>
        <td><%= projection.ab %></td>
        <td><%= projection.hr %></td>
        <td><%= projection.rbi %></td>
        <td><%= projection.sb %></td>
        <td><%= projection.runs %></td>
        <td><%= projection.avg %></td>
        <td><%= projection.innings_pitched %></td>
        <td><%= projection.wins %></td>
        <td><%= projection.saves %></td>
        <td><%= projection.era %></td>
        <td><%= projection.whip %></td>
        <td><%= projection.strikeouts %></td>
        <td>
          <a href="/projections/<%= projection.id %>" class="btn btn-primary">Show</a>
          <a href="/projections/<%= projection.id %>/edit" class="btn btn-warning">Edit</a>
          <a href="/delete_projection/<%= projection.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
        </td>
      </tr>
      <% end %>
    </table>
    <%= paginate @projections, theme: 'twitter-bootstrap-4' %>
  </div>
</div>
